header {
    background-image: url(../imgs/cover.jpg);
    background-size: cover;
    background-position: 100%;
}

.logo{
    width: 40%;
    margin-left: -30%;
}

.small-container {
    width: 95%;
    margin: 0 auto;
}

.overlay {
    background-color: rgba(0, 0, 0, .51);
    width: 100%;
    height: 100%;
}

.violet-overlay {
    background-color: rgba(140, 174, 191, 0.51);
    width: 100%;
    height: 100%;
    padding: 70px 0;
}

.white-overlay {
    background-color: rgba(255, 255, 255, .7);
    height: 100%;
    width: 100%;
}

h2 span, h1 span {
    color:  #00ABD7;
}

li {
    list-style-type: none;
}

a:hover {
    text-decoration: none;
}

a, button {
    transition: all .5s ease;
}

button {
    padding: 0
}

body {
    font-size: 1.1rem;
}

nav.navbar {
    position: absolute;
    top: 0;
    left: 0;
    background-color: transparent;
    width: 100%;
    z-index: 1000;
    font-family: 'Open Sans', sans-serif;
}

nav.navbar a, nav.navbar ul li a {
    color: #FFF !important;
}

nav.navbar ul li {
    padding: 0 15px;
}

nav.navbar .search-container {
    position: relative;
}

nav.navbar form {
    padding: 5px;
    background-color: white;
    position: absolute;
    width: 260px;
    display: none;
}

nav.navbar form input {
    padding: 5px 10px;
    border: 1px solid #b7b5b5;
    background-color: #e6e3e3;
    width: 100%;
}

header {
    position: relative;
    color: #FFF;
    font-family: 'Roboto', sans-serif;
}

header .container {
    height: 100%;
    padding-top: 5%;
}

header .container > div {
    margin: 0 auto;
    position: relative;
}

header .container > div h1 {
    font-size: 90px;
}

header button {
    background-color: transparent;
    display: block;
    border: 1px solid #FFF;
    border-radius: 50px;
    padding: 0;
    margin: 30px auto;
}

header button a {
    padding: 10px 40px;
    display: block;
    color: #FFF;
}

header button:hover {
    background-color:  #00ABD7;
    border: 1px solid  #00ABD7;
}

header button:hover a {
    color: white;
}

.container{
    margin-bottom: 5%;
}

.service-img{
    border-radius: 100%;
    width: 70%;
    height: 40%;
    margin-bottom: 4%;
}

/* statistics */

.statistics {
    padding: 50px 0;
    font-family: sans-serif;
}

.statistics i, .statistics p {
    color:  #00ABD7;
}

.statistics i {
    margin-bottom: 10px;
}

.statistics h3 {
    font-size: 40px;
    font-weight: bold;
    margin-bottom: 0;
}

.contact {
    background-image: url('../imgs/contact.jpg');
    background-size: cover;
}

.contact h2 {
    color: white;
    margin-bottom: 30px;
}

.contact .contact-form {
    width: 50%;
    margin: 0 auto;
}

.contact form input, .contact form textarea {
    width: 100%;
    outline: none;
    border: none;
    padding: 5px 10px;
}

.contact form input{
    border-radius: 50px;
    margin-bottom: 20px;
}

.contact form textarea {
    resize: none;
    height: 130px;
    border-radius: 25px;
    margin-bottom: 30px;
}

.contact form input[type="submit"] {
    width: 130px;
    height: 40px;
    padding: 0;
    line-height: 40px;
    background-color: #01678D;
    color: white;
    margin: 0 auto;
    display: block;
}

/* footer */

footer, footer a {
    color: white;
}

footer {
    display: block;
    overflow: hidden;
    background-color: #01678D;
}

footer a:hover {
    color:  #00ABD7
}

footer .container > ul {
    overflow: hidden;
    margin: 30px 0;
    padding-left: 0;
}

footer .container > ul li {
    float: left;
    padding-right: 25px;
}

footer .copyright {
    background-color: #01678D;
    padding: 15px 0;
}

footer .copyright p {
    margin-bottom: 0;
    font-size: 16px;
}